#salam{
    color: green;
}
#salam1 {
    color: red;
}
#salam12 {
    color:rgb(112, 63, 224)
}

#salam123 {

    color: rgb(211, 211, 104);
    background-color: gray;
    
    
}
#salam1234{
    color: red;
    background-color: rgba(59, 168, 219, 0.5);
}
